.infoPanel {
    margin: 0;
}

.infoContainer {
    display: flex;
    align-items: center;
    padding: 5px;
    align-content: center;
    flex-direction: column;
    color: white;
    background-color: #393636;
}
