.infoPanel {
    margin: 0 0 10px 0;
}

.infoContainer {
    display: flex;
    align-items: center;
    padding: 5px;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    color: white;
    background-color: #393636;
}

.infoContainer > label {
    border-bottom: 1px solid white;
}
