

.playButton {
    all: unset;
    cursor: pointer;
    display: inline;
    margin-top: 20px;
    flex-grow: 0;
    border: 1px solid white;
    padding: 20px;
    background-color: #393636;
}

.nameInput {
    margin-left: 5px;
}

.flexContainer{
    display: flex;
    flex-direction: column;
}

.gameResult{
    text-align: center;
}
